.CalculationBar {
  background-color: rgba(0, 0, 0,0.2);
  border-radius: 5px;
  color: #FFFFFF;
  height: 40px;
  width: 16rem;
  padding: 7px 25px 7px 0;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: 1rem;
}
.buttonSet {
  font-size: 18px;
  width: 19.5rem;
  max-width: 1024px;
}
.btn {
  background-color: rgba(218, 100, 100, 0.4);
  font-size: 18px;
  width: 90px;
  margin: 3px;
  border: 1px solid blue;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.btn:nth-child(17){
  width: 10rem;
}
